h2{
    text-align: center;
    font-size: 24px;
    color:white;
    
    }
    hr{
    margin-bottom: 30px;
    }
    div.container{
        padding-top: 20px;
        font-family: 'Courier New', Courier, monospace;

    width: 1200px;
    height: 700px;
    margin:50px auto;
    position:relative;
    float:center;
    }
    div.main{
    width: 500px;
    font-family: 'Courier New', Courier, monospace;  
    float:right;
    padding: 10px 55px 40px;
    background-color: rgba(50, 116, 202, 0.164);
    border: 5px solid rgb(8, 8, 8);
    box-shadow: 0 0 10px;
    border-radius: 2px;
    position:center;
    font-size: 13px;
    }
    input[type=text],[type=password],[type=select],[type=email],[type=number]{
    width: 300px;
    height: 25px;
    padding-left: 3px;
    margin-bottom: 20px;
    margin-top: 8px;
    box-shadow: 0 0 5px rgb(20, 20, 20);
    border: 2px solid rgb(8, 7, 8);
    color: black;
    font-size: 16px;
    }
    label{
    color: white;
    text-shadow: 0 1px 0 rgb(20, 20, 20);
    font-size: 14px;
    font-weight: bold;
    }
    .register {
    font-size: 20px;
    margin-top: 15px;
    background-color: rgb(36, 31, 32);
    border: 1px solid white;
    padding: 7px 35px;
    color: white;
    text-shadow: 0px 1px 0px #13506D;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
    width: 100%;
    }
    .register:hover{
    background-color: rgb(235, 160, 98);
    }
    body{
        background-image:url(/assets/7.jpg);
        background-position:center center;
        background-size:cover;
        position:relative;
        font-family:sans-serif;
        background-repeat:no-repeat;
        height: 800px;
        }